.customPageTitle .sapMBar {
    padding: 0.7rem;
    min-height: 1.6rem !important; /* Aumenta la altura mínima de la barra */
}

/* Ajusta el título para que sea más grande y se vea bien */
.customPageTitle .sapMTitle {
    font-family: "72Black", "72Blackfull", "72", "72full", Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    color: #000;
}

.customPageTitleDinamyc {
    padding: 0.3rem !important; /* Aumenta el espacio interno */
    min-height: 3.7rem !important; /* Aumenta la altura mínima de la barra */
}
.favoritesList {
    margin-top: 2rem; /* Más espacio */
}